@font-face {
    font-family: "raleway";
    src: url(../font/raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: "lora";
    src: url(../font/lora/Lora-Regular.ttf);
}

/* mise à 0 */
:root {
    --color-one: #000;

    --color-two: #7d7d7d;
    --color-twolight: #c9c9c9;
    /*ou 8a8a8a*/
    --color-twodark: #636363;

    --color-three: #f5f5f5;

    --color-four: #ffffff;

    --color-five: #861a22;
    --color-fivelight: #9b4c51;
    /* ou 941c24 ou d42834*/
    --color-fivedark: #541015;
    /*ou 470e11*/


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "raleway", Arial, Helvetica, sans-serif;
    text-align: justify;
}

img {
    width: 100%;
}

/* nav */
#logo img {
    max-width: 50px;
}

nav {
    position: relative;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--color-five);
}

.menuPrincipal {
    background-color: var(--color-five);
    color: var(--color-three);

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    z-index: 10;
    width: 100%;

}

nav a {
    text-decoration: none;
    color: var(--color-three);
}



.menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    transition: .5s;
    background-color: var(--color-five);
    color: var(--color-three);
    display: flex;
    align-items: initial;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
}

.menu-category {
    border-bottom: var(--color-three) solid 1px;
    padding: .7rem 0 .7rem 1rem;
}

.menu-category-items>div {
    padding: .7rem 1rem;
    border-top: var(--color-fivelight) solid 1px;
    border-bottom: var(--color-fivelight) solid 1px;
}

.menu-category-items>div:first-child {
    border-top: none
}

.menu-category-items>div:last-child {
    border-bottom: none
}

.menu-category:active {
    background-color: var(--color-fivelight);
}

.menu-category:hover {
    background-color: var(--color-fivelight);
}

.menu-category-items>div:hover {
    background-color: var(--color-five);
}

#burgerSwitch,
.menuPrincipal>label {
    display: none;
}

.menuPrincipal>label {
    padding: 0 1rem;
    font-size: 1.5rem;
}

#burgerSwitch:checked~.menu {
    width: 100%;
}

#burgerSwitch:not(:checked)~.burger {
    display: block;
}

#burgerSwitch:checked~.cross {
    display: block;
}

.reseauxNav {
    display: flex;
    justify-content: space-between;
    padding: .7rem 1rem;
    width: 20%;
}

.reseauxNav a {
    font-size: 1.3rem;
}

/* message défilant*/

.messagedefilant {
    width: 100%;
    background-color: var(--color-fivelight);
    color: var(--color-three);
    display: block;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 30px;

}

.messagedefilant div {
    position: absolute;
    top: 5px;
    min-width: 100%;
    /* au minimum la largeur du conteneur */
}

.messagedefilant div span,
.messagedefilant div:after {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    white-space: nowrap;
    top: 0;
}

.messagedefilant div span {
    animation: defilement 20s infinite linear;

}


@keyframes defilement {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: -100%;
    }
}


/* main */

h1 {
    padding: 1rem;
    background-color: var(--color-five);
    color: var(--color-three);
    font-size: 5rem;
    font-family: "lora", 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    padding: 1rem;
    color: var(--color-five);
    font-size: 1.5rem;
}

h3 {
    padding: 1rem;
    color: var(--color-one);
    font-size: 1.2rem;
}

p {
    text-align: justify;
}

.gras {
    font-weight: bold;
}

.imgRonde {

    width: 60%;
}

.imgRonde img {
    border-radius: 100%;
    border: 1px solid var(--color-two);
}

.card {

    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card div {
    position: relative;
}

figcaption {
    position: absolute;
    left: 42%;
    bottom: -.2rem;
    font-size: .4rem;
    color: var(--color-twolight);
}

figcaption a {
    color: var(--color-twolight);
}

.card h3 {
    font-size: 1rem;
}



/* BOUTONS */

/* Bouton gris : fond gris moyen écriture gris clair */
/* utilisé pour : retour*/

.btnGris {
    margin: .5rem;
    box-shadow: 1px 2px 6px -2px var(--color-one);
    background: linear-gradient(to bottom,
            var(--color-two) 5%,
            var(--color-twolight) 100%);
    background-color: var(--color-two);
    border-radius: 15px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: var(--color-three);
    font-family: Arial;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

.btnGris:hover {
    background: linear-gradient(to bottom,
            var(--color-twolight) 5%,
            var(--color-two) 100%);
    background-color: var(--color-twolight);
}

.btnGris:active {
    position: relative;
    top: 1px;
}

/* bouton rouge : fond rouge écriture gris très clair*/
/* utilisé pour : message du side */

.btnRouge {
    margin: .5rem;
    box-shadow: 1px 2px 6px -2px var(--color-one);
    background: linear-gradient(to bottom,
            var(--color-five) 5%,
            var(--color-fivelight) 100%);
    background-color: var(--color-five);
    border-radius: 15px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: var(--color-three);
    font-family: Arial;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

.btnRouge:hover {
    background: linear-gradient(to bottom,
            var(--color-fivelight) 5%,
            var(--color-five) 100%);
    background-color: var(--color-fivelight);
}

.btnRouge:active {
    position: relative;
    top: 1px;
}

/* bouton rouge foncé : fond rouge foncé écriture gris clair*/
/* utilisé pour : bouton suppression */

.btnRougeFonce {
    margin: .5rem;
    box-shadow: 1px 2px 6px -2px var(--color-one);
    background: linear-gradient(to bottom,
            var(--color-fivedark) 5%,
            var(--color-fivedark) 100%);
    background-color: var(--color-five);
    border-radius: 15px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: var(--color-three);
    font-family: Arial;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

.btnRougeFonce:hover {
    background: linear-gradient(to bottom,
            var(--color-five) 5%,
            var(--color-five) 100%);
    background-color: var(--color-fivelight);
}

.btnRougeFonce:active {
    position: relative;
    top: 1px;
}

/* bouton rouge clair : fond rouge foncé écriture gris clair*/
/* utilisé pour : bouton modification */

.btnRougeClair {
    margin: .5rem;
    box-shadow: 1px 2px 6px -2px var(--color-one);
    background: linear-gradient(to bottom,
            var(--color-fivelight) 5%,
            var(--color-fivelight) 100%);
    background-color: var(--color-five);
    border-radius: 15px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: var(--color-three);
    font-family: Arial;
    font-size: 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

.btnRougeClair:hover {
    background: linear-gradient(to bottom,
            var(--color-five) 5%,
            var(--color-five) 100%);
    background-color: var(--color-fivelight);
}

.btnRougeClair:active {
    position: relative;
    top: 1px;
}


/* side */

.side {
    display: flex;
    flex-direction: column;
}

.side p {
    padding: 0 1rem;
}

.side .trouver,
.side .contact,
.side .reassurance,
.side .horaires {
    margin: .5rem 0;
}

.carte {
    text-align: center;
    margin: 1rem;
}

.side .horaires p {
    padding-top: .5rem;
}

.reassurance {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .8rem;
    font-weight: bold;
}

.reassuranceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem 0;
}

.reassuranceImg {
    max-width: 50%;

}

.reassuranceImg img {
    border-radius: 50%;
}

.reassurance p {
    padding: 0;
    text-align: center;
}

/* footer */

footer {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--color-five);
    color: var(--color-three);
    font-size: .7rem;
}

.legal {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .legal a {
    color: var(--color-three);
    text-decoration: none;
}

footer p {
    text-align: center;
    padding: 0;
}

.logAdmin {
    color: var(--color-fivelight);
    text-decoration: none;

}

.logAdmin :visited {
    color: var(--color-fivelight);
    text-decoration: none;
}

/* page accueil */

/* carousel */

button {
    padding: 0;
    margin: 0;
    border-style: none;
    touch-action: manipulation;
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
}

#slides {
    position: relative;
    /* padding-bottom: 3rem; */

}

#slides,
#slides-items .slide-item,
figure {
    margin: auto;
}

#slides-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#slides-items .slide-item {
    position: absolute;

}

/* CSS Transition */
#slides-items .slideactive {
    opacity: 1;
    transition: opacity 3s;
    visibility: visible;
}

#slides-items .slide-item:not(.slideactive) {
    opacity: 0;
    transition: opacity 5s;
    visibility: hidden;
}

/* Control Buttons */

svg,
g {
    fill: #691616;
}

g:hover,
g:focus,
g:active {
    background-color: #691616;
}

svg {
    fill: #474747;
}

.slides-control button {
    position: absolute;
    z-index: 1;
}

.slides-prev,
.slides-next {
    padding: 0.6rem;
}

.slides-prev svg,
.slides-next svg {
    width: 1.7rem;
    height: 1.7rem;
    fill: #69161693;
}

.slides-prev {
    left: 0;
    border-radius: 0px 7px 7px 0px;
}

.slides-next {
    right: 0;
    border-radius: 7px 0px 0px 7px;
}

.slides-playpause {
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    padding: 1.5rem;
}

.slides-playpause svg {
    width: 0.7rem;
    height: 0.7rem;
}

.play,
.playpause.paused .pause {
    display: none;
}

.playpause.paused .play {
    display: block;
}

/* Dots Buttons */
#slides .slides-dots {
    position: absolute;
    /* top: 338px; */
    z-index: 1;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.slides-dots svg {
    width: .7rem;
    height: .7rem;
    /* fill: rgba(0, 0, 0, 0.7); */
}

button:hover svg,
button:focus svg,
button:active svg,
button[aria-selected="true"] svg {
    fill: #691616;
}

/* page d'accueil */


.accueil {
    /*h1 accueil*/
    font-family: "raleway";
    font-size: 1rem;
    font-weight: 800;
    padding-left: 1rem;
    text-align: justify;
    background-color: var(--color-four);
    color: var(--color-one);
}

.presentation {

    padding: 1rem;

}

.presentation p {
    margin: 1rem 0;
}

.imgPresentation div {
    margin: 1.5rem 0;
}

.imgPresentation div img {
    border-radius: 5px;
}

/* page Clinique */

.services li {
    padding: .5rem 2rem;
}

.services,
.douleur,
.hospitalisation,
.pharmacie {
    padding: 1.5rem 0;
}

.douleur p,
.pharmacie p,
.hospitalisation p {
    padding: 1rem;

}

.cliniqueImg {
    margin: 1rem;
}

.cliniqueImg img {
    border-radius: 5px;
}

.douleur,
.hospitalisation,
.pharmacie {
    display: flex;
    flex-wrap: wrap;
}

/* page équipements*/
.equipements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;


}

.equipements .card {
    width: 100%;
    justify-content: flex-start;
}

.equipements .card p,
.equipements .card h3 {
    text-align: center;
}

.maisAussi {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.maisAussi p {
    text-align: center;
}

.maisAussi .imgRonde {
    max-width: 25%;
}

/* page Honoraires */
#honoraires p {
    padding: 1rem;
}

/* page l'equipe*/

.veterinaires,
.asv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}

.cardEquipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.cardEquipe h3 {
    padding-bottom: 0;
}

.cardEquipe .reseaux a {
    font-size: 1.5rem;
    color: var(--color-five);
}

.cardEquipe .reseaux a:visited {
    font-size: 1.5rem;
    color: var(--color-fivedark);
}

/*page collaborateur*/

.collaborateur {
    padding: 1rem;
}

.collaborateur img {
    border-radius: 5px;
}

.collaborateur .imgHaut {

    display: flex;
    justify-content: center;
    align-items: center;
}

.collaborateur .imgHaut>div {
    width: 60%;
}

.collaborateur .nomCollabo h2 {
    padding-bottom: 0;
    text-align: center;
}

.collaborateur .nomCollabo h3 {
    padding: 0 1rem;
    text-align: center;
}

.nomCollabo .reseaux {
    display: flex;
    justify-content: center;

}

.nomCollabo .reseaux a {
    padding: 0 1rem 1rem;
    font-size: 1.5rem;
    color: var(--color-five);
}

.descriptionGenerale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.collaborateur .descriptionPro {
    padding: 1rem 0;
}

.collaborateur .ImgPrincipale .imgRonde {
    width: 100%;
}

.collaborateur .ImgPrincipale .imgRonde img {
    border-radius: 50%;
}

.collaborateur .descriptionPerso {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

.collaborateur .descriptionPerso h3 {
    text-align: center;
}

.collaborateur .descriptionPerso p {
    text-align: center;
}

.collaborateur .questions {
    padding: 1rem 0;
    margin: 0 0 0 40%;
}

.collaborateur .questions div {
    padding: .5rem 0;
}

.collaborateur .imgBas {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.collaborateur .imgBas div:nth-child(1) {
    width: 40%;
}

.collaborateur .imgBas div:nth-child(2) {
    width: 30%;
}

/* page Conseils / Index */
.conseils .card {
    margin: 1rem;
    padding: 1rem;
    flex-direction: row;
    border: 1px solid var(--color-three);
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.05);
}

.conseils .card li {
    list-style-type: none;
    padding: .2rem 1rem;

}

.conseils .card a {
    text-decoration: none;
    color: #000;
}

.conseils .card a:visited {
    text-decoration: none;
    color: var(--color-twodark);
}

.conseils .card i {
    font-size: .5rem;
}

/* page Conseils / Liste */


.cardListeConseil {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    border: 1px solid var(--color-three);
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 7px 5px rgba(0, 0, 0, 0.05);
}

.cardListeConseil h3 {
    padding: 0 0 .3rem 0;
}

.cardListeConseil .creeModifie {
    font-size: .8rem;
    font-style: italic;
}

.cardListeConseil a {
    color: var(--color-three);
}

.cardListeConseil a:visited {
    color: var(--color-three);
}


.cardListeConseil .droite {
    text-align: right;
    padding-top: .5rem;
}

/* page Conseils / Catégorie */

.conseilsCategorie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conseilsCategorie .imgRonde {
    width: 50%;
}

.conseilsCategorie li {
    list-style-type: none;
    padding: .5rem 0 .2rem 3rem;
}

.conseilsCategorie a {
    text-decoration: none;
    color: #000;
}

.conseilsCategorie a:hover {
    text-decoration: underline;
}
.conseilsCategorie a:visited {
  color: var(--color-two);  
}
.conseilsCategorie i{
    font-size: .5rem;
}

/* ADMINISTRATION DU SITE */

/*ADMIN Général tableaux*/

.adminTable {
    margin: 1rem;
    border-collapse: collapse;
    border: 1px solid var(--color-twolight);

}

.adminTable th {
    padding: 1rem;
    background-color: var(--color-five);
    color: var(--color-three);
}

.adminTable tr {
    border: 1px solid var(--color-twolight);
}

.adminTable td {
    padding: .5rem;

}


/* ADMIN / Index */
.adminAccueilSection {
    margin: 1rem;
    padding: 1rem;
    border: var(--color-twolight) 1px solid;
    border-radius: 5px;

}

.adminAccueilSection a {
    text-decoration: none;
}

/* ADMIN Equipe / Index  */
.accueilAdminEquipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accueilAdminEquipe a {
    text-decoration: none;
}

.adminEquipe .btnRouge {
    margin: 2rem;
}

.adminEquipe .btnRougeClair,
.adminEquipe .btnRougeFonce,
.adminHonoraires .btnRougeClair,
.adminHonoraires .btnRougeFonce {
    margin: 0 .2rem;
    padding: .2rem;
    font-weight: 100;
    border-radius: 5px;
}

.adminEquipe .adminTable,
.adminHonoraires .adminTable {
    white-space: nowrap;
}


/* ADMIN Equipe / Ajout d'un collaborateur  */
/* ADMIN Equipe / Modification d'un collaborateur  */
.formCRUD {
    padding: 1rem;
}

.formCRUD input,
.formCRUD textarea {
    padding: .3rem;
    font-size: 1rem;
    border: var(--color-twolight) 1px solid;
    border-radius: 5px;
}

.formCRUD label {
    padding-right: 1rem;
}

.formCRUD span {
    color: red;
}

.formCRUD .civilite,
.formCRUD .fonctionDiplome,
.formCRUD .reseaux {
    padding: .7rem 0;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.formCRUD #associe,
.formCRUD .civilite #titre {
    width: 1.5rem;
}

.formCRUD #prenom,
.formCRUD #nom {
    width: 15rem;
    max-width: 80vw;
}

.formCRUD #diplome {
    width: 30rem;
    max-width: 80vw;
}

.formCRUD .description textarea {
    width: 90vw;
}

.formCRUD #description_pro,
.formCRUD #description_perso {
    margin: 0 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.formCRUD .questions div {
    margin: 0 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.formCRUD .questions input {
    width: 90vw;
}

.formCRUD .photos {
    padding: 1rem;
    width: 90vw;
    border: var(--color-twolight) 1px solid;
    border-radius: 5px;

}

#photo_unUpload,
#photo_deuxUpload,
#photo_troisUpload,
#photo_quatreUpload {
    padding: .5rem 0;
    border: none;
}

.formCRUD .reseaux input {
    width: 16rem;
}

/* .formCRUD .reseaux{
    padding: 1rem;
    width: 90vw;
    display: flex;

} */

/* ADMIN Honoraires / Ajout d'un acte  */

.formCRUD #acte {
    width: 30rem;
    max-width: 90%;
}

.formCRUD #prix {
    width: 5rem;
    max-width: 90%;
}

.actePrix div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* ADMIN Conseils / Ajout d'un conseil  */


.formConseils .blocTitreArticle {
    display: flex;
    flex-direction: column;
}

.formConseils #titreArticle {
    width: 30rem;
    max-width: 90%;
}

.formConseils .categoriesConseils {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.formConseils .categoriesConseils fieldset {
    border: 1px solid var(--color-twolight);
    border-radius: 5px;
    width: fit-content;
    padding: 1rem;
}

.formConseils .blocArticle {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.formConseils .blocArticle textarea {
    width: 95%;
    overflow: auto;
}

.formConseils .photoArticle {
    margin: 2rem 0;
}

/* *********************** 
   RESPONSIVE DESKTOP
   ************************ */

@media screen and (min-width: 576px) {

    /*menu*/
    .menuPrincipal {
        position: fixed;
        -webkit-box-shadow: 0px 10px 13px -7px #4e4e4e98, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #4e4e4e98, 5px 5px 15px 5px rgba(0, 0, 0, 0);

    }

    .menuPrincipal>.burger,
    .menuPrincipal>.cross {
        display: none !important;
    }

    .menu {
        width: 100%;
        position: initial;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

    }

    .menu-category {
        border-bottom: none;
        width: 15%;
        height: 50px;
        text-align: center;
        padding-left: 0;
    }

    .menu-category-items {
        position: absolute;
        top: 50px;
        background-color: var(--color-fivelight);
        z-index: 10;
        padding-left: 1rem;
        -webkit-box-shadow: 0px 10px 13px -7px #4e4e4e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #4e4e4e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }

    .reseauxNav {
        justify-content: space-around;
        width: 7%;
    }

    /* Général */
    main {
        position: relative;
        min-height: 860px;
    }

    section {
        margin-right: 300px;
    }

    .card {
        width: 45%;
    }


    /* side */

    .side {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 300px;
        -webkit-box-shadow: 2px 2px 12px 5px rgba(0, 0, 0, 0.31);
        box-shadow: 2px 2px 12px 5px rgba(0, 0, 0, 0.31);
        border-radius: 5px;
        background-color: var(--color-four);

    }

    /* page Accueil*/

    .imgPresentation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .imgPresentationText {
        width: 65%;
        padding-left: 1rem;
    }

    .imgPresentationImg {
        width: 35%;
    }

    /* page clinique */

    .cliniqueImg {
        max-width: 40%;
    }

    .cliniqueText {
        width: 55%;
    }

    .hospitalisation {
        flex-direction: row;
        justify-content: space-between;
    }

    .douleur,
    .pharmacie {
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: var(--color-twolight);
    }

    /* page équipements*/



    .equipements .card:nth-child(2),
    .equipements .card:nth-child(4),
    .equipements .card:nth-child(6),
    .equipements .card:nth-child(8),
    .equipements .card:nth-child(10) {
        margin-top: 15%;
    }

    .equipements .card {
        width: 20rem;
    }

    .parentmaisAussiText {
        display: flex;
        justify-content: center;
    }

    .maisAussiText {
        max-width: 60%;
    }

    .maisAussi .imgRonde {
        width: 10%;
    }

    /* page l'équipe*/
    .veterinaires,
    .asv {

        flex-direction: row;

    }

    /* page collaborateur */
    .collaborateur .nomCollabo {
        position: relative;
        width: 100%;
        height: 35vh;

    }

    .collaborateur .nomCollabo h2,
    .collaborateur .nomCollabo h3,
    .collaborateur .nomCollabo .reseaux {
        margin-right: 25%;
    }

    .collaborateur .nomCollabo .imgHaut div {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 20%;
        max-height: 30vh;

    }


    .collaborateur .descriptionGenerale {
        flex-wrap: nowrap;
    }

    .descriptionGenerale .descriptionPro {
        min-width: 30%;
        max-width: 60%;
        padding-right: 1rem;
    }

    .descriptionGenerale .ImgPrincipale {
        min-width: 30%;
    }

    /* page conseils / index */

    .conseils {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;


    }

    /*fin*/
}